@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}



* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    
    
    header{
        background-color: #000040;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    }
    
    .logo{
        text-decoration: none;
        color: #3a6cf4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
        
    } 
    
    .navigation a{
        color: #3a6cf4;
        text-decoration: none;
        font-size: 1.4em;
        font-weight: 500;
        padding-left: 30px;
        
    }
    
    
    .navigation a:hover{
        color: #601cfc;
    }

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/logo.png) no-repeat;
    background-size: ;
    background-position: right center;
    background-attachment: fixed;   
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
}

.main h2 span {
    display: inline-block;
    margin-top: 5px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h4 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn i {
    padding: 3px;
}
.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.tittle {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.card {
    background-color: #cec5c5;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s;
    
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: 10px;
    text-align: center;
}
.info button {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    
    font-weight: 300;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 10px;
    
    transition: 0.7s ease;
    
}

.info button:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.Agent {
    background-color: #000016;
}

.Agent .content {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

.Agent-Card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.Agent-Card:hover {
    transform: scale(1.1);
}
.Agent-Card:hover {
    opacity: 0.9;
}

.Agent-image img{
    width: 100%;
}

.Agent-Name {
    padding: 1em;
}
.category {
    font-size: 1.1em;
    color: #000;
}

.Agent-tittle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.Buy-Now {
    text-decoration: none;
    color: #3a6cf4;
}
.Buy-Now:hover {
    color: #601cfc;
}


.Contact .icon {
    font-size: 4.5em;
}

.Contact .info h3 {
    color: #000;
    text-align: center;
}


.Contact .info p {
    font-size: 1.5em;
    text-align: center;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-tittle {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-tittle span {
    color: #3a6cf4;
}

.card .info {
    color: #000040;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}














/*@media (max-width:600px){
    header{
        padding: 10px 160px;
    }
    .navigation a {
        padding-left: 20px;
    }
    .tittle{
        font-size: 1.8em;
    }
    section{
        padding: 100px 18%;
    }
    .main 
}























/*
.Agent {
    background-color: #000016;
}

.Agent .content {
    margin-top: 30px;
}

.Agent-Cards{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 10em;
    width: 15em;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    transition: 0.7s ease;
}

.Agent-Cards:hover {
    transform: scale(1.1);
}

.Agent-Name {
    text-align: center;
    
}

.Agent-Name .h3 {
    color: aqua;
}